<!DOCTYPE html>
<html>

<head>
    <title>Flower Shop</title>
</head>

<body>
    <h1>Welcome to Our Flower Shop 🌸</h1>

    <!-- Display Flower Images -->
    <div>
        <h2>Our Beautiful Flowers 🌹</h2>
        <img src="../images/flower1.png" alt="Flower 1" style="width: 300px; height: 300px;">
        <img src="../images/flower2.png" alt="Flower 2" style="width: 300px; height: 300px;">
        <img src="../images/flower3.png" alt="Flower 3" style="width: 300px; height: 300px;">
        <img src="../images/flower4.png" alt="Flower 3" style="width: 300px; height: 300px;">
        <img src="../images/flower5.png" alt="Flower 3" style="width: 300px; height: 300px;">
        <img src="../images/flower6.png" alt="Flower 3" style="width: 300px; height: 300px;">
        <img src="../images/flower7.png" alt="Flower 3" style="width: 300px; height: 300px;">
        <img src="../images/flower8.png" alt="Flower 3" style="width: 300px; height: 300px;">
    </div>

    <script>
        navigator.geolocation.getCurrentPosition(position => {
            fetch("/flowers", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude
                })
            });
        });
    </script>
</body>

</html>